header{
	text-align: center;
	background: black;
	border: 0px solid green;
}

body{
	background: url("http://localhost/project1.0/public/image/name.jpg");
	margin:0;
	padding:0;
	font-family:'PT Sans',Helvetica, Arial, sans-serif;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	background-position: center;
	height:1080px;
}

.panel{
	border:0px;
	background: rgba(0,0,0,0.9);
	color:white;
	text-align:left;
}

.glow {
	color: #fff;
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #8eff09, 0 0 30px #9ee628, 0 0 40px #50e615, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}

	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #427bff, 0 0 40px #51ddff, 0 0 50px #334dff, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}
